@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  .color-primary {
    color: #16656F;
  }

  @font-face {
    font-family: 'General Sans';
    src: 
    url('./Fonts/WEB/fonts/GeneralSans-Variable.woff2') format('woff2'),
    url('./Fonts/WEB/fonts/GeneralSans-Variable.woff') format('woff'),
    url('./Fonts/WEB/fonts/GeneralSans-Variable.ttf') format('truetype'),
    ;
  }

  @font-face {
    font-family: 'Extralight Grotesk';
    src: 
    url('./Fonts/WEB/fonts/ClashGrotesk-Extralight.woff2') format('woff2'),
    url('./Fonts/WEB/fonts/ClashGrotesk-Extralight.woff') format('woff'),
    url('./Fonts/WEB/fonts/ClashGrotesk-Extralight.ttf') format('truetype')
    ;
  }

  @font-face {
    font-family: 'Light Grotesk';
    src: 
    url('./Fonts/WEB/fonts/ClashGrotesk-Light.woff2') format('woff2'),
    url('./Fonts/WEB/fonts/ClashGrotesk-Light.woff') format('woff'),
    url('./Fonts/WEB/fonts/ClashGrotesk-Light.ttf') format('truetype')
    ;
  }

  @font-face {
    font-family: 'Regular Grotesk';
    src: 
    url('./Fonts/WEB/fonts/ClashGrotesk-Regular.woff2') format('woff2'),
    url('./Fonts/WEB/fonts/ClashGrotesk-Regular.woff') format('woff'),
    url('./Fonts/WEB/fonts/ClashGrotesk-Regular.ttf') format('truetype')
    ;
  }

  @font-face {
    font-family: 'Medium Grotesk';
    src: 
    url('./Fonts/WEB/fonts/ClashGrotesk-Medium.woff2') format('woff2'),
    url('./Fonts/WEB/fonts/ClashGrotesk-Medium.woff') format('woff'),
    url('./Fonts/WEB/fonts/ClashGrotesk-Medium.ttf') format('truetype')
    ;
  }
  
  @font-face {
    font-family: 'Semibold Grotesk';
    src: 
    url('./Fonts/WEB/fonts/ClashGrotesk-Semibold.woff2') format('woff2'),
    url('./Fonts/WEB/fonts/ClashGrotesk-Semibold.woff') format('woff'),
    url('./Fonts/WEB/fonts/ClashGrotesk-Semibold.ttf') format('truetype')
    ;
  }
  
  @font-face {
    font-family: 'Bold Grotesk';
    src: 
    url('./Fonts/WEB/fonts/ClashGrotesk-Bold.woff2') format('woff2'),
    url('./Fonts/WEB/fonts/ClashGrotesk-Bold.woff') format('woff'),
    url('./Fonts/WEB/fonts/ClashGrotesk-Bold.ttf') format('truetype')
    ;
  }
}

@layer components {

  .plan-card {
    @apply relative bg-[#1c7c8927] w-plan-card sm:w-[75vw] lg:w-[400px] sm:h-[350px] lg:h-[600px] monitor:h-[650px] pt-[13px] lg:pt-[5.6vw] md:pt-[80px] flex flex-col justify-between;
  }

  .plan-type {
    @apply text-[20px] lg:text-[32px] text-[#494949];
  }

  .category {
    @apply font-General_Sans font-medium text-[#7F7F7F] mt-1 lg:mt-3 text-[8px] lg:text-[17px];
  }

  .amount {
    @apply text-amount lg:text-[38px] text-[#16656F] tracking-tighter;
  }

  .currency {
    @apply text-currency text-[#6c6c6cb3] font-General_Sans font-medium;
  }

  .deliverables-list {
    @apply flex items-center gap-x-4 text-[10px] lg:text-[14px] text-[#6C6C6C];
  }

  .deliverables-list-style {
    @apply h-[7px] w-[7px] lg:h-[10px] lg:w-[10px] bg-[#494949] rounded-full
  }

  .plan-card-button {
    @apply text-[23px] sm:text-xs sm:px-11 bg-primary px-[5vw] py-[10px] lg:py-[15px] text-white rounded-lg md:rounded-2xl
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
}